:host {
  display: block;
  height: 100%;
  width: 100%;
}

.uv-grid-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  height: 100%;
  width: 100%;
}

.high-fidelity-card {
  padding: var(--pad);
  flex: 1;
  position: relative;
  z-index: 1;
}

.high-fidelity-card .txt-label,
.high-fidelity-card .txt-recommendation {
  font-size: var(--fs-s);
}

.high-fidelity-card .txt-status {
  font-size: var(--fs-s);
}

.high-fidelity-card .txt-unit {
  font-size: var(--fs-1);
}

.high-fidelity-card .txt-value {
  font-size: var(--fs-3);
  line-height: 1;
}

.header-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-icon {
  font-size: var(--fs-2);
}

.value-block {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}
