.weather-mini {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  color: inherit;
}

.location {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.85rem;
  font-weight: 500;
  opacity: 0.8;
  margin-bottom: auto;
}

.temp-display {
  margin: 1rem 0;
}

.value {
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: -0.04em;
  line-height: 1;
}

.details {
  font-size: 0.9rem;
  font-weight: 400;
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
  opacity: 0.9;
}

.details b {
  font-weight: 600;
}

.separator {
  opacity: 0.4;
}
